<!DOCTYPE html>
<html>
<head>
    <title>Shipping Converter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shipping-converter-tool-icon.png') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">
            <img src="{{ url_for('static', filename='shipping-converter-tool-icon.png') }}" alt="Logo">
        </a>
        <a href="/">Home</a>
        <a href="/Unictron">詠業</a>
        <a href="/Unictron_2">詠業2</a>
        <a href="/DTJ_H">DTJ 宏美</a>
        <a href="/YONG_LAING">詠聯</a>
        <a href="/YONG_LAING_desc">詠聯-敘述</a>
        <a href="/VLI">威鋒</a>
        <a href="/ASECL">日月光</a>
    </div>
    <img src="{{ url_for('static', filename='shipping-converter-tool-icon.png') }}" alt="Big Icon" class="big-icon">
    <div class="container">
        <button onclick="location.href='/Unictron'">詠業</button>
        <button onclick="location.href='/Unictron_2'">詠業2</button>
        <button onclick="location.href='/DTJ_H'">DTJ 宏美</button>
        <button onclick="location.href='/YONG_LAING'">詠聯</button>
        <button onclick="location.href='/YONG_LAING_desc'">詠聯-敘述</button>
        <button onclick="location.href='/VLI'">威鋒</button>
        <button onclick="location.href='/ASECL'">日月光</button>
    </div>
</body>
</html>