<!DOCTYPE html>
<html>
<head>
    <title>Shipping Converter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shipping-converter-tool-icon.png') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">
            <img src="{{ url_for('static', filename='shipping-converter-tool-icon.png') }}" alt="Logo">
        </a>
        <a href="/">Home</a>
        <a href="/Unictron">詠業</a>
        <a href="/DTJ_H">DTJ 宏美</a>
        <a href="/YONG_LAING">詠聯</a>
    </div>
    <div class="container">
        <button onclick="location.href='/Unictron'">詠業</button>
        <button onclick="location.href='/DTJ_H'">DTJ 宏美</button>
        <button onclick="location.href='/YONG_LAING'">詠聯</button>
    </div>
</body>
</html>